@media (min-width: 992px) {
    .text3 {
      font-size: 36px;
    }
    .text1,
    .text2 {
      width: 100%;
      max-width: 100%;
    }
  
    .image1 {
      width: 800px;
      height: 700px;
      float: right;
      margin-left: 600px;
    }
    .photo {
      width: 800px;
      height: 700px;
      margin-left: 600px;
    }
    .image {
      width: 800px;
      height: 700px;
      float: right;
      margin-left: 600px;
    }
    .line1 {
      margin-left: 596px;
      width: 240px;
      border: 1px solid rgb(223, 223, 223);
    }
  
  }
  
  @media (max-width: 576px) {
    .text3 {
      font-size: 28px;
    }
    .text1,
    .text2 {
      font-size: 16px;
    }
    .image {
      width: 600px;
      height: 500px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .image1 {
      width: 600px;
      height: 500px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    /* .photo {
      width: 600px;
      height: 500px;
      margin-left: 0;
      margin-bottom: 20px;
    } */
  }
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .image {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .line,
    .line1 {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    .form-container {
      width: 90%;
      margin: 0 auto;
    }
    
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
    }
    
    .form-container button {
      padding: 8px;
    }
  }
  @media only screen and (max-width: 480px) {
    .form-container {
      width: 90%;
      margin: 0 auto;
    }
    
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container textarea {
      width: 100%;
      padding: 6px;
      margin-bottom: 6px;
    }
    
    .form-container button {
      padding: 6px;
    }
  }
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image {
      max-width: 100%;
      width: 800px;
     height: 700px;
      float: right;
      margin-left: 600px;
    }
  .line{
      width: 880px;
      border:1px solid rgb(223, 223, 223);
  }
  .line1{
      margin-left: 596px;
      width: 240px;
      border:1px solid rgb(223, 223, 223);
  }
  .navbar-text{
      word-spacing: 20px;
  }
  .text-container{
    width: 110px;
  }
  .text3{
      position: absolute;
      width: 663px;
      height: 54px;
      top: 270px;
      margin-right: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      font-size: 46px;
      word-spacing: 10px;
  }
  .text1{
      align-items: start;
      position: absolute;
      width: 563px;
      height: 54px;
      top: 350px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
  }
  .text2{
      margin-top: 360px;
      align-items: start;
      position: absolute;
      width: 563px;
      height: 54px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: gray;
  }
  .button-text {
      display: inline-block;
      padding: 10px 30px;
      color: rgb(148, 148, 148);
      border: 2px solid rgb(197, 197, 197);
      border-radius: 6px;
      margin-top: 450px
    }
    .button-text:hover {
        background-color: lightgray;
      }
      
      .photo{
        width: 34%;
        height: 530px;
     margin-left: 80px;
     }
     .text6{
        position: absolute;
        width: 663px;
        height: 54px;
        bottom:-260px;
        right: -70px;
        margin-right: 200px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        font-size: 36px;
        word-spacing: 10px;
    }
    .text4{
        align-items: start;
        position: absolute;
        width: 563px;
        height: 54px;
        bottom: -340px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    
      .text-container1{
        width: 1000px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 500px;
      }
      .image1 {
        width: 37%;
        height: 500px;
        float: right;
        margin-left: 730px;
      }
      .line2{
        margin-left: 596px;
        width: 355px;
        border:1px solid rgb(223, 223, 223);
    }
    .text7{
      position: absolute;
      width: 663px;
      height: 54px;
      top: 1410px;
      margin-right: 200px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      font-size: 36px;
      word-spacing: 10px;
    }
    .text8{
      align-items: start;
      position: absolute;
      width: 563px;
      height: 54px;
      top: 1480px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
    .button-text1 {
      display: inline-block;
      padding: 10px 30px;
      color: rgb(148, 148, 148);
      border: 2px solid rgb(197, 197, 197);
      border-radius: 6px;
     margin-top: 300px;
    }
    
    .button-text1:hover {
      background-color: lightgray;
    }
    .line3{
      margin-left: 96px;
      width: 855px;
      height: 1px;
      margin-top:0px;
      border:1px solid rgb(197, 197, 197);
    }
    .text9{
      position: absolute;
      width: 663px;
      height: 54px;
    margin-top: 60px;
     margin-left: 44%;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      font-size: 36px;
      word-spacing: 10px;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .gallery-item {
        width: 300px;
        height: 200px;
        margin: 0px;
        margin-top: 150px;
        position: relative;
        overflow: hidden;
      }
      
      .gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
      
      .gallery-item:hover img {
        transform: scale(1.1);
      }
      
      .gallery-item:hover .gallery-overlay {
        opacity: 1;
      }
      
      .gallery-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
      }
      
      
      .gallery-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      
      .gallery-nav-arrow {
        color: white;
        font-size: 32px;
        margin: 0 10px;
        pointer-events: auto;
        cursor: pointer;
      }
      
      
      .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
      }
      
      .item {
        width: 26%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid #bfbebe;
        border-bottom: 1px solid #bfbebe;
        margin-top: 0px;
      }
      .item1 {
        width: 26%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid #bfbebe;
        margin-top: 0px;
      }
      .item2 {
        width: 26%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid #bfbebe;
        margin-top: 0px;
      }
      .item3 {
        width: 26%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid #bfbebe;
        margin-top: 0px;
      }
      .item4 {
        width: 26%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 0px;
      }
      
      
      .icon {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 14px;
      }
      
      .description {
        font-style:normal;
        font-size: 10;
      }
      .form-container {
        width: 400px;
        margin: 0 auto;
        margin-top: 10px;
        margin-left: 25%;
        color: #292929;
        max-width: 100%;
       
      }
      
      .form-row {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(58, 58, 58);
      }
      
      .form-row label {
        width: 150px;
        text-align: right;
      }
      
      .form-row input {
        width: 150px;
        height: 30px;
      }
      .forrm{
        margin-left: 25%;
      }
      
      .form-row input[type="email"],
      .form-row input[type="tel"],
      .form-row input[type="text"] {
        width: 190px;
        height: 30px;
        /* width: 100%; */
        padding: 10px;
        margin-bottom: 10px;
      }
      
      .form-row .checkbox-label {
        width: auto;
        text-align: left;
      }
      
      .form-row .checkbox-input {
        width: 30px;
        height: auto;
      }
      
      textarea[name="message-text"] {
        width: 750px;
        height: 200px;
        margin-right: 20%;
        margin-top: 20px;
      }
      
      .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .text011{
        margin-left: 50%;
        margin-bottom: 70px;
        width: 263px;
        height: 54px;
        font-weight: 400;
        line-height: 28px;
        font-size: 36px;
        word-spacing: 10px;
      }
      .form-row label {
        width: 100px;
        text-align: right;
        display: block;
        margin-bottom: 60px;
      }
      
      .form-row input {
        width: 150px;
        height: 30px;
      }
      
      .form-container {
        max-width: 500px;
        width: 100%;
      }
      
      .form-group input[type="text"],
      .form-group input[type="email"],
      .form-group input[type="tel"],
      .form-group textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .contact-methods {
        margin-bottom: 15px;
      }
      
      .contact-methods label {
        display: block;
        margin-bottom: 5px;
      }
      
      .checkbox-container {
        display: flex;
        align-items: center;
      }
      
      .checkbox-container input[type="checkbox"] {
        margin-right: 5px;
      }
      
      .button-text001{
        display: inline-block;
        padding: 10px 30px;
        color: rgb(148, 148, 148);
        border: 2px solid rgb(197, 197, 197);
        border-radius: 6px;
       margin-left: 267%;
      
      }
      .button-text001:hover{
        background-color: #d2d2d2;
      }
      .form-group.inline {
        display: flex;
        align-items: center;
      }
      
      .form-group.inline label {
        margin-right: 10px;
      }
      
      .form-group.inline input[type="text"],
      .form-group.inline input[type="email"],
      .form-group.inline input[type="tel"] {
        flex: 1;
      }
      .line5{
        margin-left: 146px;
        width:1230px;
        height: 0px;
        margin-top:0px;
        border:1px solid rgb(222, 220, 220);
      }
      .icon-container {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-left: 39%;
      }
      
      
      .icon001{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #727272;
        margin-right: 10px;
      }
      .icon001:hover{
        background-color: #d5d5d5;
      }
      .twitter{
        margin-left: 5px;
        margin-top: 5px;
      }
      .footer{
        margin-left: 42.3%;
        margin-top: 40px;
      }
    
    